@font-face {
    font-family: PlusJakartaSans;
    src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: PlusJakartaSans;
    background-color: hsl(210, 60%, 98%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 180vh;
}

main {
    background-color: hsl(0, 0%, 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60vw;
    border-radius: 15px;
}

h1,
.name {
    color: hsl(224, 21%, 14%);
}

p {
    color: hsl(219, 12%, 42%);
}

a {
    color: hsl(219, 85%, 26%);
    font-weight: 800;
    text-decoration: none;
    margin: 0em 0.25em;
}

a:hover {
    color: hsl(219, 85%, 26%);
}

strong:hover {
    cursor: pointer;
}

.top {
    display: flex;
    margin: 1.5em 3.25em;
    max-width: 100%;
}

#notifications-counter {
    background-color: hsl(219, 85%, 26%);
    color: hsl(0, 0%, 100%);
    font-weight: 800;
    width: 2em;
    height: 1.5em;
    text-align: center;
    padding: 0.05em 0.25em 0.2em 0.25em;
    margin: 0.75em;
    border-radius: 7px;
}

#mark-as-read {
    color: hsl(219, 14%, 63%);
    font-weight: 800;
    position: absolute;
    right: 3.5%;
    margin-top: 0.75em;
    margin-right: 1.5em;
}

#mark-as-read:hover {
    cursor: pointer;
    color: hsl(219, 85%, 26%);
}

img {
    width: 50px;
    height: 50px;
}

.commented-img {
    position: absolute;
    right: 1em;
}

.commented-img:hover {
    cursor: pointer;
}

.user {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.5em;
    margin: 0.25em 2em;
    padding: 1.25em;
    border-radius: 10px;
}

.text-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 90%;
}

.user:nth-child(7) .name {
    max-width: 128px;
}

.user:nth-child(7) .name {
    position: relative;
    top: -10px;
}

.user:nth-child(7) p {
    position: relative;
    top: -10px;
}

.name {
    font-weight: 800;
}

#private-msg {
    color: hsl(219, 14%, 63%);
    font-weight: 500;
    border: 1px solid hsl(205, 33%, 90%);
    border-radius: 5px;
    padding: 1em;
    margin-left: 3.25em;
    margin-right: 1.75em;
}

#private-msg:hover {
    background-color: hsl(205, 33%, 90%);
}

.timestamp {
    color: hsl(219, 14%, 63%);
    position: absolute;
    top: 45px;
    margin-left: 5px;
}

footer {
    position: absolute;
    bottom: -450px;
    left: 50%;
    transform: translateX(-50%);
}

.unread {
    background-color: hsl(205, 33%, 90%);
}

.dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-top: 0.2em;
    margin-left: 0.3em;
}

.attribution {
    color: black;
}

@media screen and (max-width: 375px) {
    body {
        font-size: 14px;
    }
    main {
        width: 100vw;
    }
    .top {
        margin-bottom: 0;
        margin-left: 1em;
    }
    h1 {
        font-size: 1.5em;
        margin-top: 0.25em;
    }
    .user {
        padding: 1em;
        margin: 1em;
    }
    .user:nth-child(2) .dot {
        position: relative;
        top: -1.25em;
        left: 9em;
    }
    .text-content {
        max-width: 80%;
    }
    .name {
        margin: 0 0.25em 0 0;
    }
    .timestamp {
        position: static;
        margin: 0;
        width: 100px;
    }
    footer {
        position: absolute;
    }
}